# Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Streamlit logs
.streamlit/secrets.toml

# Audio artifacts
audio/*.wav
audio/*.mp3

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
